{include="header"}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-9 col-sm-push-3 col-md-7 col-md-push-4 col-lg-6 col-lg-push-4">
			<div class="alert alert-warning text-center">{$lang_not_found.page_not_found}</div>
			<div class="text-center"><img src="/styles/base/images/pikanoel-512.png" alt="Pikanoel" style="width:200px;" /></div>
		</div>

		<div class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-6 col-lg-2 col-lg-pull-4">
			<div class="list-group">
			<a class="list-group-item" href="index">{$lang_menu_top.home}</a>
			<a class="list-group-item" href="viewonline">{$lang_not_found.users_connected}</a>
			</div>
		</div>
	</div>
</div>
{include="footer"}