<!DOCTYPE html>
<html lang="{$site_lang}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{if="!$error_invalid_user && !$error_user_not_exists && $ban == 0"}{$lang_profile.profile_of} {$profile_user.user_name} - {/if}{$site_name|display}</title>
{if="!empty($site_description)"}<meta name="description" content="{$site_description|display}" />{/if}
<link rel="icon" type="image/png" href="/favicon.ico" />
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/jquery.colorbox.css" type="text/css">
<link rel="stylesheet" href="css/profile.css" type="text/css">
<script type="text/javascript" src="js/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-lg-push-4 col-md-8 col-md-push-2 col-sm-12 col-xs-12">
				{if="!$error_invalid_user"}
					{if="!$error_user_not_exists"}
						{if="$ban == 0"}
						<div class="profile_header text-center"><span{if="!empty($profile_user.user_sex)"} class="profile_{$profile_user.user_sex}"{/if}>{$profile_user.user_name}</span></div>
						<div class="profile_panel">
						<div class="row">
							<div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
							{if="!empty($profile_user.user_avatar)"}
							<a class="avatar" href="/gallery/avatars/{$profile_user.user_avatar}"><img class="img-rounded" src="/gallery/avatars/thumbnails/{$profile_user.user_avatar}" alt="Avatar" /></a>
							{else}
							<img class="img-rounded" src="/gallery/avatars/default.png" alt="Avatar" />
							{/if}
							</div>
							
							<div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
							<table class="table profile_infos">
							{if="!empty($profile_user.user_birthday)"}
							<tr>
							<td>{$lang_profile.age}</td>
							<td>{function="age($profile_user.user_birthday)"} {$lang_profile.years_old}</td>
							</tr>
							{/if}
							{if="!empty($profile_user.user_country)"}
							<tr>
							<td>{$lang_profile.country}</td>
							<td>{$profile_user.user_country}</td>
							</tr>
							{/if}
							<tr>
							<td>{$lang_profile.member_since}</td>
							<td>{function="date('d/m/Y', $profile_user.user_time)"}</td>
							</tr>
							<tr>
							<td>{$lang_profile.last_visit}</td>
							<td>{function="date('d/m/Y', $profile_user.user_last)"}</td>
							</tr>
							</table>
							</div>
						</div>
						</div>
						
						{if="!empty($profile_user.user_desc)"}
						<div class="profile_panel">
						<b class="text-danger">{$lang_profile.personal_description}</b>
						<div class="profile_separator"></div>
						<div class="profile_desc">{function="smileys(bbcode($profile_user.user_desc))"}</div>
						</div>
						{/if}
						
						<div class="profile_panel">
							<b><span class="text-danger">{$lang_profile.number_of_messages_posted}:</span> {function="number_format($profile_user.user_posts, 0, ',', '.')"}</b>
							<div class="profile_separator"></div>
							<div class="profile_posts_bar"><span style="width:{$posts_width}%;"></span></div>
						</div>

						<script type="text/javascript">
						$(function(){
							$('.avatar').colorbox({
								maxWidth: '95%',
								maxHeight: '95%',
								rel: true,
								title: false
							});
						});
						</script>
						{else}
						<div class="alert alert-danger text-center">{$lang_profile.user_banned}</div>
						{/if}
					{else}
					<div class="alert alert-danger text-center">{$lang_profile.user_not_exists}</div>
					{/if}
				{else}
				<div class="alert alert-danger text-center">{$lang_profile.invalid_username}</div>
				{/if}
			</div>
		</div>
	</div>
</body>
</html>