# ignore the template cache folder
cache/tpl/

# ignore the debug folder
debug/

# ignore the error logs files
logs/*.txt

# ignore gallery files
gallery/avatars/*.jpg
gallery/avatars/*.png
gallery/avatars/*.gif
gallery/avatars/thumbnails/*.jpg
gallery/avatars/thumbnails/*.png
gallery/avatars/thumbnails/*.gif
!gallery/avatars/index.php
!gallery/avatars/thumbnails/index.php
gallery/uploads/*.jpg
gallery/uploads/*.png
gallery/uploads/*.gif
gallery/uploads/thumbnails/*.jpg
gallery/uploads/thumbnails/*.png
gallery/uploads/thumbnails/*.gif
!gallery/uploads/index.php
!gallery/uploads/thumbnails/index.php

# ignore gtignore file
.gitignore