# ignore the template cache folder
cache/tpl/*

# ignore the debug folder
debug/

# ignore the error logs files
logs/*.txt

# ignore gallery files
gallery/avatars/*
!gallery/avatars/index.php
gallery/avatars/thumbnails/*
!gallery/avatars/thumbnails/index.php
gallery/uploads/*
!gallery/uploads/index.php
gallery/uploads/thumbnails/*
!gallery/uploads/thumbnails/index.php

# misc files ignoring rules
index2.php