{include="header"}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-9 col-sm-push-3 col-md-7 col-md-push-4 col-lg-6 col-lg-push-4">
			<ol class="breadcrumb">
			  <li><a href="adm/index.php">{$lang_menu_top.admin_cp}</a></li>
			  <li class="active">{$lang_logs.site_errors}</li>
			</ol>
			<div class="panel panel-default">
			<div class="panel-body">
			{if="$nb > 0"}
			<div class="row">
				<div class="col-sm-9 col-md-9 col-lg-9"><ul class="pagination">{$pagination}</ul></div>
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3 text-right">
				  <p>{$lang_logs.total}: <strong>{$nb}</strong></p>
				  <p>{$lang_logs.rows} <strong>{$offset+1} - {$end}</strong></p>
				</div>
			</div>

			<form method="post" action="adm/logs.php">
			<input type="hidden" name="token" value="{$token}" />
			<input type="hidden" name="action" value="delete" />
			<div class="form-group">
			<button class="action-submit btn btn-danger" data-toggle="tooltip" title="{$lang_logs.delete_selection}">{$lang_logs.delete}</button>
			</div>
			<table class="table table-striped table-bordered table-hover text-center">
			<tr>
			<th><input type="checkbox" id="selectall" /></th>
			<th>{$lang_logs.name}</th>
			<th>{$lang_logs.date}</th>
			<th>{$lang_logs.size}</th>
			<th>{$lang_logs.text}</th>
			</tr>
			{loop="rows"}
			<tr>
			<td><input class="checkbox-item" type="checkbox" name="sup[]" value="{$value.file_id}" /></td>
			<td>{$value.file_name|display}</td>
			<td>{function="date('d/m/Y H:i', $value.file_time)"}</td>
			<td>{$value.file_size} Byte</td>
			<td class="text-left text-toggle"><a href="#" class="button-text-toggle"><img src="images/bt_plus.gif" /></a> <span class="text-toggle" style="display:none;">{$value.file_text|display}</span></td>
			</tr>
			{/loop}
			</table>
			</form>

			<div class="row">
				<div class="col-sm-9 col-md-9 col-lg-9"><ul class="pagination">{$pagination}</ul></div>
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3 text-right">
				  <p>{$lang_logs.total}: <strong>{$nb}</strong></p>
				  <p>{$lang_logs.rows} <strong>{$offset+1} - {$end}</strong></p>
				</div>
			</div>

			<script>
			var text_action_confirmation = '{$lang_logs.confirm_action|escape_quotes}';
			var text_select_element = '{$lang_logs.select_element|escape_quotes}';
			var text_select_action = '{$lang_logs.select_action|escape_quotes}';
			var text_cancel = '{$lang_logs.cancel|escape_quotes}';
			
			$(document).on('click', '.button-text-toggle', function(e) {
				e.preventDefault();
				var Text = $(this).next('.text-toggle');
				var Img = $(this).children('img')[0];

				if(Text.css('display') == 'none') {
					Text.css('display', 'inline');
					Img.src = Img.src.replace(/\/style\/images\/bt_plus.gif/g, '/style/images/bt_minus.gif');
				}
				else {
					Text.css('display', 'none');
					Img.src = Img.src.replace(/\/style\/images\/bt_minus.gif/g, '/style/images/bt_plus.gif');
				}

				return false;
			});
			</script>
			<div id="dialog-confirm" title="{$lang_logs.alert}"></div>
			{else}
			<div class="alert alert-danger text-center">{$lang_logs.no_files}</div>
			{/if}
			</div>
			</div>
		</div>

		<div class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-6 col-lg-2 col-lg-pull-4">
			<div class="list-group">
			<a class="list-group-item" href="adm/configuration.php">{$lang_logs.site_configuration}</a>
			<a class="list-group-item" href="adm/styles.php">{$lang_logs.styles}</a>
				<a class="list-group-item" href="adm/langs.php">{$lang_logs.langs}</a>
			<a class="list-group-item" href="adm/system.php">{$lang_menu_top.system}</a>
			<a class="list-group-item active" href="adm/logs.php">{$lang_logs.error_logs}</a>
			</div>
		</div>
	</div>
</div>
{include="footer"}