{include="header"}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-9 col-sm-push-3 col-md-7 col-md-push-4 col-lg-6 col-lg-push-4">
			<ol class="breadcrumb">
			  <li><a href="adm/index.php">{$lang_menu_top.admin_cp}</a></li>
			  <li class="active">{$lang_styles.site_styles}</li>
			</ol>

			<div class="panel panel-default">
			<div class="panel-body">
				<p>{$lang_styles.cache_size}: {$cache_size|getSize}</p>

				<div class="form-group">
				<a href="adm/styles.php?action=delete-cache&amp;token={$token}" class="delete btn btn-danger">{$lang_styles.empty_styles_cache}</a>
				<a href="adm/styles.php?action=refresh-styles&amp;token={$token}" class="alert-action btn btn-success">{$lang_styles.refresh_styles}</a>
				</div>

				{if="$nb > 0"}
				<table class="table table-striped table-bordered table-hover text-center">
				<tr>
				<th>{$lang_styles.name}</th>
				<th>{$lang_styles.directory}</th>
				<th>{$lang_styles.version}</th>
				<th>{$lang_styles.size}</th>
				<th>{$lang_styles.author}</th>
				<th>{$lang_styles.parent_style}</th>
				</tr>
				{loop="rows"}
				<tr>
				<td>{$value.name|display}</td>
				<td>{$key|display}</td>
				<td>{$value.version|display}</td>
				<td>{$value.size|getSize}</td>
				<td>{if="!empty($value.author)"}{$value.author|display}{/if}</td>
				<td>{if="!empty($value.parent)"}{$value.parent|display}{/if}</td>
				</tr>
				{/loop}
				</table>
				{else}
				<div class="alert alert-danger text-center">{$lang_styles.no_styles}</div>
				{/if}

				<div id="dialog-confirm" title="{$lang_styles.alert}"></div>
				<script>
				var text_action_confirmation = '{$lang_styles.confirm_action|escape_quotes}';
				var text_cancel = '{$lang_styles.cancel|escape_quotes}';
				</script>
			</div>
			</div>
		</div>

		<div class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-6 col-lg-2 col-lg-pull-4">
			<div class="list-group">
			<a class="list-group-item" href="adm/configuration.php">{$lang_styles.site_configuration}</a>
			<a class="list-group-item active" href="adm/styles.php">{$lang_styles.styles}</a>
			<a class="list-group-item" href="adm/system.php">{$lang_menu_top.system}</a>
			<a class="list-group-item " href="adm/logs.php">{$lang_styles.error_logs}</a>
			</div>
		</div>
	</div>
</div>
{include="footer"}